
{:source-paths ["src"]
 :dependencies [[mvc-works/hsl  "0.1.2"]
                [respo/ui       "0.3.9"]
                [respo          "0.9.2"]]
 :builds {:app {:output-dir "target"
                :asset-path "./"
                :target :browser
                :modules {:main {:init-fn app.main/main!}}
                :devtools {:after-load app.main/reload!
                           :http-root "target"
                           :http-port 8080
                           :loader-mode :eval}}}}
